---
import SeasonsNav from "@/components/navigation/SeasonsNav.astro";
import SubNav from "@/components/navigation/SubNav.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE_NAME } from "@/lib/constants";
import { f1api } from "@/lib/f1Api";
import { formatDate } from "@/lib/utils";

const { year } = Astro.params;

let races 

if(year){
races =  await f1api.getRacesByYear({ year: parseInt(year) });
}
---

<Layout title=`${year} F1 Calendar | ${SITE_NAME}` description=`Formula 1 Calendar of the ${year} season.`>
    <div class="px-4">
        <h1 class="my-4">{year} F1 Calendar</h1>
        <SeasonsNav/>
        { year ?      <SubNav year={parseInt(year)} />
        : null}  
    </div>
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 my-8 mx-4 md:mx-auto">
     {races?.races.map((race) => 
            <li class="rounded p-4 shadow hover:shadow-lg min-h-[100px] bg-secondary text-primary hover:bg-secondary/90 ease-in-out duration-500 hover:transition">
                <a class="cursor-pointer" href={`/${year}/${race.round}/race`}>
                <header>
                    {race.round}. Round - {race.circuit.country}
                    <h2>
                        {race.raceName}
                    </h2>
                </header>
                <div>
                    {formatDate(race.schedule.fp1.date)} -
                    {formatDate(race.schedule.race.date)}
                </div>
                </a>
            </li>)}
    </ul>
</Layout>