---
import CalendarNav from "@/components/CalendarNav.astro";
import SessionNav from "@/components/SessionNav.astro";
import Layout from "@/layouts/Layout.astro";
import { f1api } from "@/lib/f1Api";
import { checkSprint } from "@/lib/utils";

export async function getStaticPaths() {
  const seasons = await f1api.getSeasons({limit: 100});
  const currentYear = new Date().getFullYear();

  const staticPaths = [];

  for (const season of seasons.championships) {
    if (season.year < currentYear) {
      const races = await f1api.getRacesByYear({ year: season.year });

      for (const race of races.races) {
        staticPaths.push({
          params: { year: season.year, round: race.round.toString() },
          props: { year: season.year, round: race.round.toString() },
        });
      }
    }
  }

  return staticPaths;
}

const { year, round } = Astro.params;

let race
let raceInfo

//retrieve race result
if (year && round) {
    raceInfo = await f1api.getRaceInfo({year: year, round: parseInt(round)})
    try {
        race = await f1api.getRaceResults({ year: year, round: parseInt(round) });
    } catch (error) {
        console.error(`Race results not found for ${year}, round ${round}`);
    }
}

const haveSprint = checkSprint(raceInfo)
---

<Layout>
    <div class="mb-8">
        {year ? <CalendarNav year={year} /> : null}
        {raceInfo?.race.map((race) => 
        <h1>Race - {race?.circuit.country} {year}</h1>
        <SessionNav year={year} round={round} haveSprint={haveSprint} />
        <p>{race?.schedule.race.date}, {race?.circuit.circuitName}, round {race?.round}</p>
        )}
    </div>
    {race ? (
        <>
            <ul class="grid grid-cols-1 gap-4">
                {race?.races?.results?.map((result) => (
                    <li id="card">
                        <h2>{result.driver?.name} {result.driver?.surname}</h2>
                        <p>
                            Position: {result.position}
                            <br />
                            Points: {result.points}
                        </p>
                    </li>
                ))}
            </ul>
        </>
    ) : (
        <p>Session data is not available at the moment.</p>
    )}
</Layout>