---
import SessionNav from "@/components/SessionNav.astro";
import Layout from "@/layouts/Layout.astro";
import { f1api } from "@/lib/f1Api";
import { checkSprint } from "@/lib/utils";

const { year, round } = Astro.params;
export const prerender = false

let race
let raceInfo

//retrieve race result
if (year && round) {
    raceInfo = await f1api.getRaceInfo({year: parseInt(year), round: parseInt(round)})
    race = await f1api.getRaceResults({ year: parseInt(year), round: parseInt(round) });
}

const haveSprint = checkSprint(raceInfo)

---

<Layout>
    <div class="mb-8">
        <h1>{year} {race?.races.raceName}</h1>
        <SessionNav year={year} round={round} haveSprint={haveSprint} />
        <p>{race?.races.date}, {race?.races.circuit.circuitName}, round {round}</p>
    </div>
    <ul class="grid grid-cols-1 gap-4">
        {
            race?.races.results.map((result) => 
            <li id="card">
                <h2>
                {result.driver.name} {result.driver.surname}
                </h2>
                <p>
                    Position: {result.position}
                    Points: {result.points}
                </p>
            </li>
    )
    </ul>
    }
</Layout>