---
import Layout from "@/layouts/Layout.astro";
import SessionNav from "@/components/SessionNav.astro";
import { f1api } from "@/lib/f1Api";
import CalendarNav from "@/components/CalendarNav.astro";
import { formatDate } from "@/lib/utils";

const { year, round } = Astro.params;

let qualy
let race
let raceInfo

if (year && round) {
    raceInfo = await f1api.getRaceInfo({year: parseInt(year), round: parseInt(round)})
    if(raceInfo.race[0].schedule.sprintRace){
        try {
            qualy = await f1api.getSprintQualyResults({ year: parseInt(year), round: parseInt(round) });
            race = await f1api.getSprintRaceResults({ year: parseInt(year), round: parseInt(round) });
        } catch (error) {
            console.error(`Qualifying results not found for ${year}, round ${round}`);
        }
    }
}

---

<Layout>
    <div>
        {year ? <CalendarNav year={parseInt(year)} /> : null}
        {raceInfo?.race.map((race) => 
        <h1 class="my-4">Sprint - {race?.circuit.country} {year}</h1>
        <p>{formatDate(race?.schedule.qualy.date)}, {race?.circuit.circuitName}, Round {race?.round}</p>
        <SessionNav year={year} round={round} haveSprint={true} />
        )}
    </div>
    {
        race ? 
        <h2 class="mb-2 text-xl">Sprint Race</h2>
        <div class="relative overflow-x-auto mb-8">
    <table class="min-w-full border border-gray-200 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-secondary text-primary uppercase text-sm font-semibold">
            <tr>
                <th class="py-5 px-3 text-left">Position</th>
                <th class="py-5 px-3 text-left">Driver</th>
                <th class="px-3 text-left">Team</th>
                <th class="px-3 text-left">Grid</th>
                <th class="px-3 text-left">Points</th>
            </tr>
        </thead>
        <tbody class="divide-y">
            {race?.races.sprintRaceResults.map((result) => (
                <tr class="hover:bg-secondary/10 transition">
                    <td class="py-5 px-3 font-medium">{result.position}</td>
                    <td class="px-3">{result.driver.name} {result.driver.surname}</td>
                    <td class="px-3">{result.team.teamName}</td>
                    <td class="px-3">{result.gridPosition}</td>
                    <td class="px-3 font-semibold">{result.points}</td>
                </tr>
            ))}
        </tbody>
    </table>
    </div>
        <h2 class="mb-2 text-xl">Sprint Qualifying</h2>
        <div class="relative overflow-x-auto mb-8">
    <table class="min-w-full border border-gray-200 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-secondary text-primary uppercase text-sm font-semibold">
            <tr>
                <th class="py-5 px-3 text-left">Position</th>
                <th class="py-5 px-3 text-left">Driver</th>
                <th class="px-3 text-left">Team</th>
                <th class="px-3 text-left">SQ1</th>
                <th class="px-3 text-left">SQ2</th>
                <th class="px-3 text-left">SQ3</th>
            </tr>
        </thead>
        <tbody class="divide-y">
            {qualy?.races.sprintQualyResults.map((result) => (
                <tr class="hover:bg-secondary/10 transition">
                    <td class="py-5 px-3 font-medium">{result.gridPosition}</td>
                    <td class="px-3">{result.driver.name} {result.driver.surname}</td>
                    <td class="px-3">{result.team.teamName}</td>
                    <td class="px-3">{result.sq1}</td>
                    <td class="px-3">{result.sq2}</td>
                    <td class="px-3">{result.sq3}</td>
                </tr>
            ))}
        </tbody>
    </table>
    </div> : qualy ?         
            <h2 class="mb-2 text-xl">Sprint Qualifying</h2>
        <div class="relative overflow-x-auto mb-8">
    <table class="min-w-full border border-gray-200 shadow-md rounded-lg overflow-hidden">
        <thead class="bg-secondary text-primary uppercase text-sm font-semibold">
            <tr>
                <th class="py-5 px-3 text-left">Position</th>
                <th class="py-5 px-3 text-left">Driver</th>
                <th class="px-3 text-left">Team</th>
                <th class="px-3 text-left">SQ1</th>
                <th class="px-3 text-left">SQ2</th>
                <th class="px-3 text-left">SQ3</th>
            </tr>
        </thead>
        <tbody class="divide-y">
            {qualy?.races.sprintQualyResults.map((result) => (
                <tr class="hover:bg-secondary/10 transition">
                    <td class="py-5 px-3 font-medium">{result.gridPosition}</td>
                    <td class="px-3">{result.driver.name} {result.driver.surname}</td>
                    <td class="px-3">{result.team.teamName}</td>
                    <td class="px-3">{result.sq1}</td>
                    <td class="px-3">{result.sq2}</td>
                    <td class="px-3">{result.sq3}</td>
                </tr>
            ))}
        </tbody>
    </table>
    </div> :
         <p>Session data is not available at the moment.</p>
    }
</Layout>