---
import SeasonsNav from "@/components/SeasonsNav.astro";
import SubNav from "@/components/SubNav.astro";
import Layout from "@/layouts/Layout.astro";
import { f1api } from "@/lib/f1Api";

const year = new Date().getFullYear()

const driverStandings = await f1api.getDriverStandings({year: year})
---

<Layout>
    <h1>Driver standings, season {year}</h1>
    <SeasonsNav/>
    {year ? <SubNav year={year}/> : null}
    <ul class="grid gap-4 my-8">
        {driverStandings?.drivers_championship.map((driver) => 
        <li class="rounded p-4 shadow bg-secondary text-primary hover:bg-secondary/90 hover:transition flex items-center justify-between">
            <p>{driver.position}.</p>
            <h2>{driver.driver.name} {driver.driver.surname}</h2>
            <p>{driver.team.teamName}</p>
            <p>Points: {driver.points}</p>
        </li>
    )}
    </ul>
</Layout>