---
import Layout from "@/layouts/Layout.astro";
import { f1api } from "@/lib/f1Api";
import SeasonsNav from "@/components/SeasonsNav.astro";
import SubNav from "@/components/SubNav.astro";

const { year } = Astro.params;

let teamStandings

if(year){
    teamStandings = await f1api.getConstructorStandings({year: parseInt(year)})
}

---

<Layout>
    <main class="py-4">
        <h1>Team standings, season {year}</h1>
        <SeasonsNav/>
        { year ?      <SubNav year={parseInt(year)} />
 : null}
        <ul class="grid gap-4 my-8">
            {teamStandings?.constructors_championship.map((team) => 
        <li class="rounded p-4 shadow bg-secondary text-primary hover:bg-secondary/90 hover:transition flex items-center justify-between">
            <p>{team.position}.</p>
            <h2>{team.team.teamName}</h2>
            <p>Points: {team.points}</p>
        </li>
        )}
    </ul>
    </main>
</Layout>