---
import Layout from "@/layouts/Layout.astro";
import { f1api } from "@/lib/f1Api";
import SeasonsNav from "@/components/SeasonsNav.astro";
import SubNav from "@/components/SubNav.astro";

const { year } = Astro.params;

export async function getStaticPaths() {
    const seasons = await f1api.getSeasons();
    const currentYear = new Date().getFullYear()

  return seasons.championships
    .filter((season) => season.year < currentYear) // only previous seasons
    .map((season) => ({
      params: { year: season.year },
      props: { year: season.year },
    }));
}

let teamStandings

if(year){
    teamStandings = await f1api.getConstructorStandings({year: year})
}

---

<Layout>
    <main class="py-4">
        <h1>Team standings, season {year}</h1>
        <SeasonsNav/>
        <SubNav year={year}/>
        <ul class="grid gap-4 my-8">
            {teamStandings?.constructors_championship.map((team) => 
        <li class="rounded p-4 shadow bg-secondary text-primary hover:bg-secondary/90 hover:transition flex items-center justify-between">
            <p>{team.position}.</p>
            <h2>{team.team.teamName}</h2>
            <p>Points: {team.points}</p>
        </li>
        )}
    </ul>
    </main>
</Layout>